<div class="main edit-account">
  <h3>アカウント編集</h3>
  <ul>
    <li><%= link_to "プロフィール編集", "/#{current_user.id}/edit_profile" %></li>
    <li><%= link_to "メールアドレス編集", "/" %></li>
    <li><%= link_to 'パスワード変更', edit_user_registration_path %></li>
    <li><%= link_to "口座情報変更", "/" %></li>
    <li><%= link_to 'ログアウトする', destroy_user_session_path, method: :delete %></li>

  </ul>
</div>
