<div class="main">
  <h2 class="title"><%= @user.name %></h2>

  <div class="profile-image">
    <% if @user.image_name %>
    <img src="<%= "/user_images/#{@user.id}.jpg" %>">
     <% else %>
     <img src="<%= "/user_images/default_image.jpg" %>">
    <% end %>
  </div>

<!-- ここからユーザーが作ったファンクラブを表示するエリア =================================-->

  <div class="my-fc">
    <h3 class="who-make-fc"><%= @user.name %>さんが作ったファンクラブ</h3>
    <% @user.posts.each do |post|%>
    <%= link_to ("/#{post.id}/show_fc") do %>

      <section class="card">
        <div class="card-img-parent">
          <img class="card-img" src="<%= "/post_images/#{post.id}.jpg" %>" alt="">
        </div>
        <div class="card-title">
          <%= link_to(post.fc_name, "/#{post.id}/show_fc") %>
        </div>
      </section>
    <% end %>
  </div>
  <% end %>
<!-- ここまでユーザーが作ったファンクラブを表示するエリア =================================-->

</div>
