
<!-- @post.idは現在のfc.idのこと -->
<%= form_tag("/fc_content/create/#{@post.id}") do %>
<!-- <button class="btn btn-color-blue btn-size-large"> -->

<!-- </button> -->
<!-- validatesを設定しているのにエラー文が表示されない -->
<% if @post.errors.any? %>
<% @post.errors.full_messages.each do |message| %>
<%= message %>
 <% end %>
<% end %>
  <!-- コンテンツにタイトルいらない件 -->
  <!-- <input name="content_title" placeholder="タイトル" type="text"> -->

  <input name="content_body" placeholder="ここでコメントを送ってみよう！" type="text" class="content-new" autocomplete="off"></input>

  <input class="submit" type="submit" value="投稿">
<% end %>
