<h2 class="title title-top">誰でもファンクラブが作れるサービス<br>(仮)</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name , "ユーザー名"%><br />
    <%= f.text_field :name, class: "textbox-short" , autofocus: true  %>
  </div>

  <div class="field">
    <%= f.label :email , "メールアドレス"%><br />
    <%= f.email_field :email,  class: "textbox-short" , autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password , "パスワード"%>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 字以上のパスワードにしてね！)</em>
    <% end %><br />
    <%= f.password_field :password,  class: "textbox-short" , autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation , "同じパスワード"%><br />
    <%= f.password_field :password_confirmation,  class: "textbox-short" , autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "登録する", class: "btn btn-size-large btn-color-blue" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
