<div class="main">
  <!-- スライダーのcdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <!-- スライダーの速度指定 -->
      <div class="swiper-slide" data-swiper-autoplay="3000">
        <% @posts.each do |post| %>
          <!-- スライダーにリンクをつけている -->
          <% if post.fc_name == "芋あきらの部屋" %>
            <%= link_to ("/#{post.id}/show_fc") do %>
              <%= image_tag("/post_images/poteto_akira.png") %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="swiper-slide" data-swiper-autoplay="3000"><%= image_tag("/post_images/index2.jpg") %></div>
    </div>
    <!-- ページネーション -->
    <div class="swiper-pagination"></div>
  </div>
  <script>
    var mySwiper = new Swiper ('.swiper-container', {
      speed: 1000,
      loop: true,
      autoplay: {
        delay: 1000,
      },
        autoplayDisableOnInteraction:false,
      // ページネーション
      pagination: '.swiper-pagination',
    });
  </script>

<!-- ファンクラブを表示 -->
  <% @posts.each do |post| %>
    <!-- 芋あきらの部屋は運営のファンクラブだから一覧には表示しないようにしている -->
    <% if post.fc_name != "芋あきらの部屋" %>
      <!-- link_to ~ do で画像全体にリンクをかけている -->
      <%= link_to ("/#{post.id}/show_fc") do %>
        <section class="card">
          <!-- 画像のリサイズをする -->
          <div class="card-img-parent">
            <img class="card-img" src="<%= "/post_images/#{post.id}.jpg" %>" alt="">
          </div>
          <div class="card-title">
            <%= link_to(post.fc_name, "/#{post.id}/show_fc") %>
          </div>
        </section>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="header-bottom">
  <nav>
    <ul>
      <li>
        <%= link_to ("/") do %>
          <%= image_tag 'home_aicon.png', :size =>'30x30'%>
        <% end %>
      </li>
      <li>
        <% if user_signed_in? %>
          <%= link_to ("/#{current_user.id}/setting") do %>
            <%= image_tag 'setting_aicon.png', :size =>'30x30'%>
          <% end %>
        <% else %>
          <%= link_to ("/users/sign_in") do %>
            <%= image_tag 'setting_aicon.png', :size =>'30x30'%>
          <% end %>
        <% end %>

      </li>
    </ul>
  </nav>
</div>
