<h2 class="title title-top">誰でもファンクラブが作れるサービス<br>(仮)</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :email , "メールアドレス"%><br />
    <%= f.email_field :email,  class: "textbox-short" , autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password , "パスワード"%><br />
    <%= f.password_field :password,  class: "textbox-short" , autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me , "ログインしたままにする"%>
    </div>
  <% end -%>

  <div>
    <%= f.submit "ログイン", class: "actions btn btn-size-large btn-color-blue" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
