/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */


 /* ここから共通レイアウト */
 * {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin-bottom: 70px;

}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  color: #333333;
}


a {
  text-decoration: none;
  color: #333333;
  font-size: 1.4rem;
}

 h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  background-color: #fff;
  margin: 0;
  padding-bottom: 40px;
  -webkit-overflow-scrolling: touch;
  font-size: 1.4rem;
  color: #333333;
  overflow: scroll;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: #fff;
  margin-bottom: 50px;
}

.center {
  text-align: center;
}

.field {
  text-align: center;
  margin: 10px auto;
}

.text-caution {
  color: #767676;
  font-size: 1.2rem;
  text-align: center;
}

.parent {
  position: relative;
}

.heart-child {
  position: absolute;
  right: 4%;
  bottom: 7%;
}

.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

.posts-show-item .fa {
  font-size: 1.6rem;
  margin-right: 3px;
}

table {
  color: #3C3C3C;
  margin: 20px auto;
}

table tr {
  text-align: center;
}

table td {
  font-size: 1.4rem;
  width: 50%;
}


/* ここまで共通レイアウト */

/* ここからヘッダーエリア */
header {
  height: 40px;
  bottom: 0;
  position: relative;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 4px 0;
  display: flex;
  display: -webkit-flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

header ul {
  /* display: -webkit-flex; */
  display: flex;
  /* -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: nowrap; */
}

header li {
  margin-left: 3.7rem;
}

.header-logo {
  float: left;
  padding-left: 20px;
  color: red;
  font-size: 22px;
  line-height: 40px;
}

.header-ul {
  float: right;
  padding-right: 20px;
}

.header-ul li {
  float: left;
  line-height: 40px;
  font-size: 1.6rem;
  color: black;
  padding-left: 15px;
}

.header-ul a {
  float: left;
  font-size: 1.6rem;
  color: black;
}

.ChangeElem_Panel{
  display: none;
}

@media screen and (min-width:600px) and (max-width:959px) {

}

// 通常のパソコンに適用したいスタイル
@media screen and (min-width:960px) and (max-width:1280px) {

}

// 横幅の広いデスクトップに適用したいスタイル
@media screen and (min-width:1281px) {
}


/* ここまでヘッダーエリア */
/* body {
font-family: 'Josefin Sans', sans-serif;
background: #fff;
height: 100vh;
overflow: hidden;
}
a {
text-decoration: none;
}
a:hover {
text-decoration: none;
color: #e3be08!important;
}
header {
background: #fff;
overflow: auto;
top: 0px;
left: 0px;
width: 100%;
padding: 35px;
text-align: center;
}
header h1 {
margin-bottom: 30px;
font-size: 40px;
font-weight: bold;
display: block;
line-height: 1;
letter-spacing: 0;
padding: 0 20px;
}
nav li {
display: inline-block;
}
nav li a {
font-size: 18px;
padding: 20px;
}
nav li:first-child a:hover {
color: #70e4d0!important;
}
nav li:nth-child(2) a:hover {
color: #e0b15c!important;
}
nav li:nth-child(3) a:hover {
color: #f3bbc3!important;
}
#barba-wrapper {
padding: 0;
width: 100%;
}
.inner {
display: table;
width: 100%;
}
.inner .content{
display: table-cell;
vertical-align: middle;
text-align: center;
}
.inner h2{
font-size: 30px;
margin-bottom: 50px;
margin-top: 0;
}
.inner ul li{
display: inline-block;
padding: 10px 20px;
}
.inner ul li a{
background: rgba(79,77,71,.1);
border-radius: 5px;
padding: 18px 50px;
color: #000;
font-size: 18px;
display: block;
line-height: 1;
}
.inner ul li a:hover{
color: #000!important;
background: rgba(79,77,71,.05);
}
.page-1.inner {
background: -webkit-gradient(linear, left bottom, right top, color-stop(1%, #7be7d7), color-stop(40%, #7be7d7), color-stop(40%, #7be7d7), color-stop(100%, #86a4e3));
background: -webkit-linear-gradient(45deg, #7be7d7 1%, #7be7d7 40%, #7be7d7 40%, #86a4e3 100%);
background: -webkit-linear-gradient(45deg, #7be7d7 1%, #7be7d7 40%, #7be7d7 40%, #86a4e3 100%);
background: linear-gradient(45deg, #7be7d7 1%, #7be7d7 40%, #7be7d7 40%, #86a4e3 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7be7d7', endColorstr='#86a4e3', GradientType=1);
}
.page-2.inner{
background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#ddb14f),color-stop(100%,#ea6c30));
background: -webkit-linear-gradient(45deg,#ddb14f 0,#ea6c30 100%);
background: -webkit-linear-gradient(45deg, #ddb14f 0, #ea6c30 100%);
background: linear-gradient(45deg,#ddb14f 0,#ea6c30 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddb14f', endColorstr='#ea6c30', GradientType=1);
}
.page-3.inner{
background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#f2c8c5),color-stop(100%,#f686bc));
background: -webkit-linear-gradient(45deg,#f2c8c5 0,#f686bc 100%);
background: -webkit-linear-gradient(45deg, #f2c8c5 0, #f686bc 100%);
background: linear-gradient(45deg,#f2c8c5 0,#f686bc 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2c8c5', endColorstr='#f686bc', GradientType=1);
} */


/* いいねアニメーションの読み込み */
.icobutton {
  /* フォントサイズを大きく */
  font-size: 1.8em;
  /* 中心に表示 */
  top: 50%;
  left: 50%;
  transform:translate(-50%, -42%);
  background: transparent;
  border: none;

}
.icobutton:hover,
.icobutton:focus {
  /* hover、focus時の背景色を透明に */
  background: transparent;
}

.circle-button {
  position: absolute;
  bottom: 0;
  right: 3.5em;
  width: 70px;
  height: 70px;
  font-size: 1.5em;
  color: #fff;
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.275);
  outline: none;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.circle-button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.275);
}

.triangle {
  position: relative;
  height: 0;
  width: 0;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  border-top: 1.5em solid transparent;
  margin: 0 auto -1.75em auto;
  top: .6em;
  z-index: 20;
}
