<!DOCTYPE html>
<html>

  <head>
    <title>FcApp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122935431-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-122935431-3');
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.js/1.9.3/snap.min.js"></script>
  </head>

  <body>

    <% if @page_name %>
      <header class="site-header flex flex--bet">
        <nav class="gnav">
          <ul class="gnav__menu flex flex--bet">
            <li class="gnav__menu__item">
              <h3 class="gnav__menu__item__link"><%= @page_name %></h3>
            </li>
          </ul>
        </nav>
      </header>
      <script type="text/javascript">
        $(function() {
          var $win = $(window),
            $header = $('header'),
            headerHeight = $header.outerHeight(),
            startPos = 0;

          $win.on('load scroll', function() {
            var value = $(this).scrollTop();
              if ( value > startPos && value > headerHeight ) {
                $header.css('top', '-' + headerHeight + 'px');
              } else {
                $header.css('top', '0');
              }
            startPos = value;
          });
        });
      </script>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>


</html>
